[Desktop Entry]
Type=Application
Name= Cài đặt
Icon=/home/pi/Downloads/setting.png
Exec=sudo python3 /home/pi/Downloads/install.py
X-Desktop-File-Install-Version=0.20